# Python virtual environments
/backend/venv/

# Node dependencies
/node_modules/
/backend/node_modules/
/frontend/node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE configs
.vscode/
.idea/

# Environment variables (ignore all .env files)
/**/.env
*.env